elpa/
*~
.mc-lists.el
[#]*[#]
[.][#]*
url/
var/
smex-items
recentf
projectile-bookmarks.eld
server/
custom.el
eshell/

# Compiled
*.elc

# Packaging
.cask
/ido.last
/request/curl-cookie-jar
/tramp
/eshell/history
emojis/
eshell/
